<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {{>links}}
    <title>Hello</title>
  </head>
  <body>
     {{>navbar}}
  <!--- carousel form start here -->
  <div class="container-fluid">

    <div class="col-12 col-12 mx-auto align-items-center   ">


          <figure >
              <img src="img/1.jpg" width="900px" alt="" class="img-fluid">
          </figure>
          <h2>{{errormsg}}</h2>



<!-- left side  -->

</div>
</div>
</div>

    <!-- carousel form start END here  -->
{{>footer}}
  </body>
</html>
