<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{>links}}
    <title>node js project</title>
  </head>
  <body>
    {{>navbar}}
  <!-- - carousel form start here-->
  <div class="container-fluid">
    <div class="row">
    <div class="col-10 col-12 mx-auto">
      <div class="row">
      <div class="col-md-6 col-12 left_homepage p-5 align-items-center  ">
      <h4>hello walcome to my website</h4>
      <h1 class="text-danger">Get the Weather Infomation</h1>

      <a class="btn btn-info  shadow rounded text-white " href="/weather" role="button"">click me</a>

</div>
<!-- left side  -->
      <div class="col-md-6 col-12 right_homepage">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="img/7041.jpg" height="610px" class="d-block w-100" alt="image">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="img/5.png" class="d-block w-100" h-50 alt="image">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="img/studying.png" class="d-block w-100" alt="image">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

      </div>





</div>
</div>
</div>
</div>


    <!-- carousel form start END here  -->
{{>footer}}
  </body>
</html>
